<% if user_signed_in? && @event.creator == current_user %>
  <%= link_to "Edit Event", edit_event_path %>
  <%= link_to "Delete Event", @event, data: {
    turbo_method: :delete,
    turbo_confirm: "Are you sure?"
  }%>
<% end %>
<h1><%= @event.title %></h1>
<p>
<div>About this event: </div>
<div><%= @event.description %></div>
</p>
<p>
<div>Time: </div>
<div><%= @event.date %></div>
</p>
<p>
<div>Location: </div>
<div><%= @event.location %></div>
</p>

<% if current_user != @event.creator %>
  <h2>Book Your Ticket Now</h2>
  <%= render "tickets/form"%>
<% end %>

<% if current_user == @event.creator and @event.private %>
  <h1>Send private invitation to other users:</h1>
  <%= render "invitations/form" %>
<% end %>

<% if @event.tickets.count > 0 %>
  <h2>List of current attendees</h2>

  <ul>
  <% @attendees_name.each do |attendee_name| %>
    <li> <%= attendee_name %> </li>
  <% end %>
  </ul>
<% end %>