<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    
    <%= link_to "Home", root_path %>
    <% if user_signed_in? %>
      <%= link_to "My Events", user_path(current_user) %>
      <%= link_to "Profile", edit_user_registration_path %>
      <%= link_to "Log out", destroy_user_session_path, method: :delete, data: { turbo_method: :delete } %>
    <% else %>
      <%= link_to "Sign in", new_user_session_path %>
    <% end %>
    <hr>
    
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= link_to "Add Event", new_event_path %>
    <%= yield %>
  </body>
</html>
